body{
    margin: 0px;
    padding: 0px;
}
#Inicio{
    width: 100vw;
    height: 100vh;
    background-color: rgb(226, 226, 226);
    text-align: center;
}
#Imagen{
    width: 100px;
    height: 100px;
    background-image: url(./cono.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
#uno{
    color: rgb(255, 255, 255);
    font-size: 600%;
    text-shadow: -4px 5px 0px rgba(0,0,0,0.33);
}

#dos{
    color: rgb(255, 255, 255);
    font-size: 400%;
    text-shadow: -4px 5px 0px rgba(0,0,0,0.33);
}

#tres,#cuatro{
    font-size: 130%;
}