:root{
    --color_header: #063823;
    --color_sombra: #2e2e2e;
    --color_texto: #238649;
    --color_texto_header: #ffffff;
}

body{
    padding: 0px;
    margin: 0px;
}

#Inicio{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
}

#Contenido{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    box-shadow: 0px 17px 30px var(--color_sombra);
	box-sizing: border-box;
	border-radius: 10px;
}

#Header{
    background-color: var(--color_header);
    display: grid;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#Formulario{
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
}

#PrimeraPantalla{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat( 3 , 25% ) auto auto;
    box-sizing: border-box;
}

.celda{
    box-sizing: content-box;
    width: 90%;
    height: 70%;
    margin: auto;
    position: relative;
}

.dos{
    width: 35%;
    grid-column: span 2;
}

#ContenedorBoton{
    width: 100%;
    height: 100%;
}

#TituloHeader{
    width: 80%;
    height: 30%;
    color: var(--color_texto_header);
    font-size: 170%;
    margin: auto;
    text-align: center;
}

#ContenedorAviso{
    width: 50%;
    height: 100%;
    text-align: center;
    margin: auto;
    color: var(--color_header);
    font-weight: 900;
    font-size: 110%;
}

#SegundaPantalla{
    display: grid;
    width: 100%;
    height: 100%;
}

.ContenedorBoton{
    width: 35%;
    height: 15%;
    margin: auto;
}