/*Horizontal*/
@media screen and (max-device-width:1000px) and (orientation: landscape) {
    #Inicio{
        grid-template-columns: repeat(3,1fr);
    }
    .Sala{
        min-width: 260px;
        max-width: 260px;
        margin: auto;
    }
}

/*Vertical*/
@media screen and (max-device-width:950px) and (orientation: portrait) {
    #Inicio{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 440px;
        margin: auto;
    }
    .Sala{
        min-width: 380px;
        max-width: 400px;
        height: 400px;
        font-size: 150%;
        margin: auto;
    }
}