<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Sala</title>
	</head>
	<body>
		<h1> Sala </h1>

		<!-- My Video and Remote Video from connection -->
	    <div id="contenedor-video">
	      <video playsinline autoplay muted id="video-local"></video>
	      <video playsinline autoplay id="video-remoto"></video>
	    </div>

	    <!-- Input to send mensajes -->
	    <div>
	      <span style="font-weight: bold">Mensaje: </span>
	      <input type="text" id="entrada-mensaje" title="Message to Send!">
	      <button id="boton-mensaje">Enviar</button>
	    </div>

		<input type="text" id="nombre" value="<%-nombre%>" disabled>
		<input type="text" id="url" value="<%-url%>" disabled>
		<input type="text" id="regresar" value="<%-regresar%>" disabled>

	    <!-- Area to Print Images -->
	    <div class="mensajes"></div>

		<script src="/socket.io/socket.io.js" charset="utf-8"></script>
		<script src="/script/main.js" charset="utf-8" type="module"></script>
	</body>
</html>
